<!-- templates/partials/footer.html -->
<!--<footer class="bg-dark text-light py-4 mt-5">
    <div class="footer-container">
        <div class="row">
            <div class="col-md-6">
                <h5>Bag Genie</h5>
                <p>Your one-stop shop for all your shopping needs.</p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ url_for('home') }}" class="text-light">Home</a></li>
                    <li><a href="#" class="text-light">Shop</a></li>
                    <li><a href="{{ url_for('customerdash') }}" class="text-light">My Account</a></li>
                    <li><a href="{{ url_for('contact') }}" class="text-light">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact</h5>
                <address class="text-light">
                    <i class="fas fa-map-marker-alt me-2"></i> 123 Shopping Ave<br>
                    <i class="fas fa-phone me-2"></i> +91 1234567890<br>
                    <i class="fas fa-envelope me-2"></i> info@baggenie.com
                </address>
            </div>
        </div>
        <hr class="bg-light">
        <p class="text-center mb-0">&copy; 2025 Bag Genie. All rights reserved.</p>
    </div>
</footer>-->

<footer>
    <div class="footer-container">
        <div class="footer-brand">
            <h2>Bag Genie</h2>
            <p>Your one-stop shop for all your shopping needs.</p>
        </div>
        
        <div class="footer-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a style="text-decoration: none;" href="{{ url_for('home') }}">Home</a></li>
                <li><a style="text-decoration: none;" href="{{ url_for('products') }}">Shop</a></li>
                <li><a style="text-decoration: none;" href="{{ url_for('loginpage') }}">Login</a></li>
                <li><a style="text-decoration: none;" href="{{ url_for('about') }}">About Us</a></li>
                <li><a style="text-decoration: none;" href="{{ url_for('contact') }}">Contact Us</a></li>
            </ul>
        </div>
        
        <div class="footer-contact">
            <h3>Contact</h3>
            <div class="contact-info">
                📍 <span>Orient Square, Kadavanthra Junction, Kadavanthra, Kochi, Ernakulam, Kerala 682020</span>
            </div>
            <div class="contact-info">
                📞 <span>+91 9755447896</span>
            </div>
            <div class="contact-info">
                ✉️ <span>info@baggenie.com</span>
            </div>
        </div>
        
    </div>
    
    <div class="footer-bottom">
        <p>© 2025 Bag Genie. All rights reserved.</p>
    </div>
</footer>
